:root {
    /* color-scheme: light dark; */
}

body{
  color: light-dark( rgb(51, 51, 51), rgb(218, 218, 218) );
  background-color: light-dark( rgb(244, 245, 247), rgb(18, 18, 18) );

  text-align:center;

  scroll-behavior:smooth;

  transition: color .5s ease-in-out,
        background-color 0.5s ease-in-out,
        border-color .5s ease-in-out;
}

a {
  transition: color .6s ease-in-out;
}

button, input, select, option {
  background-color: light-dark( rgb(240,240,240), rgb(107,107,107) );
  border: 1px solid light-dark( rgb(51, 51, 51), rgb(218, 218, 218) );
  border-radius: 4px;
}

button:hover {
  background-color: light-dark( rgb(190,190,190), rgb(132,132,132) );
}

button, input, select, option {
  transition: background-color .5s ease-in-out,
              border-color .5s ease-in-out;
}

blockquote {
  transition: background-color .5s ease-in-out;
}

table, thead, tbody, tfoot, tr, th, td ,hr {
  transition: border-color .5s ease-in-out;
}

header, nav, footer,
div, span,
p,
button,
strong, em,
del,
kbd,
mark,
h1, h2, h3, h4, h5, h6,
ul, ol, li,
input, select, option,
blockquote,
pre,
table, thead, tbody, tfoot, tr, th, td,
hr,
details,
summary {
    color: inherit;
}

strong{
    color: inherit;
    font-weight: bolder;
}
