.heading-anchor {
visibility: hidden;
font-size: 1rem;
margin-right: 0.3rem;
color: light-dark(rgb(51 51 51), rgb(240 246 252));
background-color: light-dark(rgb(250 250 250), rgb(13 17 23));
}

h1:hover .heading-anchor {
visibility: visible;
}

h2:hover .heading-anchor {
visibility: visible;
}

h3:hover .heading-anchor {
visibility: visible;
}

h4:hover .heading-anchor {
visibility: visible;
}

h5:hover .heading-anchor {
visibility: visible;
}

h6:hover .heading-anchor {
visibility: visible;
}
