.heading-anchor {
visibility: hidden;
font-size: 1rem;
margin-right: 0.3rem;
color: light-dark( rgb(51, 51, 51), rgb(218, 218, 218) );
background-color: light-dark( rgb(244, 245, 247), rgb(18, 18, 18) );

}

h1:hover .heading-anchor {
visibility: visible;
}

h2:hover .heading-anchor {
visibility: visible;
}

h3:hover .heading-anchor {
visibility: visible;
}

h4:hover .heading-anchor {
visibility: visible;
}

h5:hover .heading-anchor {
visibility: visible;
}

h6:hover .heading-anchor {
visibility: visible;
}
